AIRFLOW_UID=50000

CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=default
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
PGUSER=airflow
PGPASSWORD=airflow
PGDATABASE=airflow
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
CSRF_ENABLED=False

# minio
MINIO_ROOT_USER: minioadmin
MINIO_ROOT_PASSWORD: minioadmin
MINIO_DOMAIN: minio

# duckdb
PYICEBERG_HOME: /lab/sample_data
PYICEBERG_CATALOG__REST__URI: http://iceberg_rest:8181/
PYICEBERG_CATALOG__REST__WAREHOUSE: s3://practice-bucket/
PYICEBERG_CATALOG__REST__IO__IMPL: org.apache.iceberg.aws.s3.S3FileIO
PYICEBERG_CATALOG__REST__S3__ENDPOINT: http://minio:9000
PYICEBERG_CATALOG__REST__S3__ACCESS-KEY-ID: minioadmin
PYICEBERG_CATALOG__REST__S3__SECRET-ACCESS-KEY: minioadmin

# iceberg_rest
AWS_ACCESS_KEY_ID: minioadmin
AWS_SECRET_ACCESS_KEY: minioadmin
AWS_REGION: us-east-1
CATALOG_WAREHOUSE: s3://practice-bucket/
CATALOG_IO__IMPL: org.apache.iceberg.aws.s3.S3FileIO
CATALOG_S3_ENDPOINT: http://minio:9000 
